body {
  margin: 0;
  background-color: cornsilk;
  font-family: sans-serif;
}
.article {
  margin: 0 auto;
  max-width: 680px;
  padding: 24px;
}
.article__lead {
  font-family: serif;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
}
.article__heading {
  margin: 0;
}
.article__heading--verified {
  color: palevioletred;
  margin-bottom: 1.5rem;
}
.figure__caption {
  font-style: italic;
  text-align: center;
}
.article__figure {
  margin-left: 0;
  margin-right: 0;
}
.figure {
  max-width: 680px;
}
.figure__image {
  margin-bottom: 8px;
}
